body {
    background-color: black;
    color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
    transition: background-color 0.3s ease-in-out;
}

.navbar-brand, .nav-link {
    color: #fcfcfc !important;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #7f43b8;
    transition: width 300ms ease-in-out;
}

.nav-link:hover {
    color: #7f43b8 !important;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler:hover {
    transform: rotate(90deg);
}

.navbar-toggler-icon {
    filter: invert(100%);
}

.section {
    padding: 80px 0;
    text-align: center;
}

.service-item {
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.05);
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
}

input:focus, textarea:focus {
    border: 2px solid #7f43b8 !important; /* Aplique a cor roxa e use !important para garantir a prioridade */
    box-shadow: 0 0 5px #7f43b8; /* Adiciona um efeito suave de sombra */
    outline: none; /* Remove o outline padrão do navegador */
}

.btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-whatsapp:hover {
    background-color: #1EBE5D;
    transform: scale(1.1);
}

.footer {
    background-color: black;
    color: #fcfcfc;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    border-top: 2px solid #7f43b8;
}

.highlight {
    color: #7f43b8;
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    .service-item {
        margin-bottom: 20px;
    }
}
